.bg-container{
    background-color: #02a7a1;
}

.custom-carousel {
    width: 700px;  
    height: 600px;  
    display: flex;
  }
  
  .custom-carousel img {  
    height: 100%;       
    width: 100%;        
  }